/* Hero section styles */
.hero-faq {
    position: relative; /* Add this line */
    background: url('https://lh3.googleusercontent.com/d/1oD9kqiP-wAL7RIRLOn7UMl6bk0q8ZQz5') no-repeat center center;
    background-size: cover;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.25); /* Adjust opacity here */
    z-index: 1; /* Ensure the overlay is above background but not hero content */
}

.hero-content {
    position: relative;
    z-index: 1;
}

.hero-faq {
    text-align: center;
    z-index: 3;
}

.hero-faq h1 {
    font-family: 'Adobe Garamond Pro', serif;
    font-size: 2rem;
    font-weight: 400;
}

/* FAQ section styles */
.faq-section {
    padding: 2em 1em;
    background: #ede8e8;
    max-width: 800px; /* Adjust the max-width as needed */
    margin: 0 auto; /* Center the section on the page */
    text-align: left; /* Left align the text within the section */
    z-index: 3;
}

.faq-section h2 {
    font-family: 'Adobe Garamond Pro', serif;
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 1em;
    text-align: left;
}

.faq-section ol {
    font-family: 'Abel', sans-serif;
    font-size: 1.2rem;
    line-height: 1.5em;
    text-align: left;
    padding-left: 1.5em;
}

.faq-section ol li {
    margin-bottom: 1em;
}

.faq-section ol li p {
    margin: 0.5em 0 0;
}

.faq-section ol li a {
    color: #000;
    text-decoration: underline;
}

/* Media Query for Mobile Devices */
@media (max-width: 750px) {
    .faq-section h2 {
        font-size: 1.5rem; /* Adjust font size for mobile */
    }

    .faq-section ol {
        font-size: 1rem; /* Adjust font size for mobile */
    }
}
